# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# C Project Executables
C/ls/my_ls
C/printf/my_printf
C/my_hunter/my_hunter
C/my_radar/my_radar
C/my_navy/my_navy
C/sokoban/my_sokoban

# C++ Project Executables
C++/raytracer/raytracer
C++/arcade/arcade
C++/arcade/lib/*.so

# Project subject PDFs
B-OOP-400_*.pdf
B-OOP-*.pdf

# Libraries
C/*/lib/my/libmy.a
*.a

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Backup files
*~
*.swp
*.swo
*#

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.sublime-*
.DS_Store

# Criterion tests
unit_tests
tests/unit_tests
*.gcda
*.gcno
*.gcov

# Valgrind
vgcore.*
*.log
